<ul>
    <li *ngFor="let item of items; let i = index">
        <h3>
            <input (change)="selectElement(i)" type="radio"  [(ngModel)]="selected" [value]="item.id" name="repository-item"/>
            <a href="{{item.html_url}}">{{item.name}}</a>
        </h3>
    </li>
</ul>